<?xml version="1.0" encoding="iso-8859-1" ?>
<menu>
  <item>
    <path>civicrm/relationshipContributionACL/settings</path>
    <title>RelationshipContributionACL Settings</title>
    <page_callback>Admin_Page_RelationshipContributionACLAdmin</page_callback>
    <access_arguments>administer CiviCRM</access_arguments>
  </item>
  <item>
    <path>civicrm/relationshipContributionACL/settings/ajax/getConfig</path>
    <page_callback>Admin_Page_RelationshipContributionACLAdminAjax::getConfig</page_callback>
    <access_arguments>administer CiviCRM</access_arguments>
  </item>
  <item>
    <path>civicrm/relationshipContributionACL/settings/ajax/saveConfigRow</path>
    <page_callback>Admin_Page_RelationshipContributionACLAdminAjax::saveConfigRow</page_callback>
    <access_arguments>administer CiviCRM</access_arguments>
  </item>
  <item>
    <path>civicrm/relationshipContributionACL/settings/ajax/deleteConfigRow</path>
    <page_callback>Admin_Page_RelationshipContributionACLAdminAjax::deleteConfigRow</page_callback>
    <access_arguments>administer CiviCRM</access_arguments>
  </item>
</menu>